@import url('source-sans-pro.css');

html {
  font-family: 'Source Sans Pro', serif;
}

html::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  background: #070908;
  color: #E7F3FD;
}

#marquis {
  color: #9baaa0;
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

#outer {
  margin: auto;
  width: 900px;
}

#search {
  float: left;
  width: 40%;
  border: 1px solid #9baaa0;
  border-right: 0px;
  background: #070908;
}

#query {
  width: 100%;
  font-size: 17px;
  padding: 5px;
  height: 30px;
  border: 0px;
  border-bottom: 1px solid #9baaa0;
  background: #313437;
  color: #E7F3FD;
}

#results {
  height: 539px;
  overflow-y: scroll;
}

#output {
  float: left;
  width: 60%;
  border: 1px solid #9baaa0;
  background: #070908;
  height: 571px;
  overflow-y: scroll;
  margin: 0px 0px 0px 0px;
  padding: 40px 40px 40px 40px;
  text-align: justify;
}


#head {
  position: relative;
  margin-bottom: 20px;
}

#body {
  min-height: 445px;
}

#title {
  font-weight: bold;
  width: 100%;
}

#tags {
  /*margin-left: 5px;*/
}

#results::-webkit-scrollbar {
  display: none;
}

#output::-webkit-scrollbar {
  display: none;
}

#navbar {
}

.res_box {
  position: relative;
  width: 100%;
  padding: 5px;
}

.res_box:last-child {
  border-bottom: 0px;
}

.res_box.selected {
  background-color: #4284F2;
  color: white;
}

.res_title {
  cursor: default;
  margin-right: 3px;
  min-height: 20px;
  width: 100%;
}

.out_tag {
  cursor: default;
  border-radius: 2px;
  background-color: #4284F2;
  /*background: #9baaa0;*/
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

#mod_box {
  visibility: hidden;
  background-color: red;
  border-radius: 3px;
  position: absolute;
  left: -16px;
  top: 6px;
  height: 11px;
  width: 11px;
}

#output.modified #mod_box {
  visibility: visible;
}

/* theme */

#output h3 {
  margin-top: 35px;
}

#output a {
  text-decoration: none;
  /*color: rgb(53, 122, 232);*/
  color: #2095F0;
}
